---
import Layout from '../layouts/Layout.astro';

const { title, description, lang } = Astro.props;
const pubDate = new Date();
---

<Layout title={title} description={description} pubDate={pubDate} lang={lang}>
  <div class="flex flex-col items-center justify-center min-h-screen text-center">
    <a
      href="/"
      class="inline-block px-4 py-2 mb-4 text-gray-900 font-semibold rounded hover:text-teal-700"
    >
      <img src="/img/404.webp" alt="Not Found" class="mb-6 w-1/2 max-w-md" />
    </a>
  </div>
</Layout>
