---
import { loadStripe } from "@stripe/stripe-js";

import { STRIPE_CHECKOUT_SESSION_URL } from '../../utils/consts';

const stripePromise = loadStripe(process.env.STRIPE_PUBLIC_KEY);

async function handleCheckout() {
  const stripe = await stripePromise;
  window.location.href = STRIPE_CHECKOUT_SESSION_URL;
}
---

<button onclick={handleCheckout} class="bg-blue-500 text-white px-4 py-2 rounded">
    Reservar Videollamada
</button>
