---
import { BUY_ME_A_COFFEE } from '../../utils/consts';

const { lang } = Astro.params;
---

<div
  class="mt-2 mb-10 bg-cyan-700 text-white p-6 rounded-lg shadow-lg text-center max-w-2xl mx-auto"
>
  <div class="space-y-3">
    <p class="text-lg font-medium">
      <strong
        >Si encuentras útiles mis proyectos de código abierto, por favor considera apoyar mi
        trabajo. Sin tu apoyo no podré continuar.</strong
      >
    </p>
  </div>
  <button
    class="mt-4 inline-flex items-center px-6 py-2 bg-white text-cyan-700 rounded-md font-medium hover:bg-cyan-100 transition-colors"
  >
    <a href={BUY_ME_A_COFFEE} target="_blank" class="block text-center"> ❤ Apóyame </a>
  </button>
</div>
